<div class="post-actions-wrap">
    <nav>
        <ul class="post-actions post-action-nav">
            <li class="post-action">
                <% if (post.prev) { %>
                    <a class="post-action-btn btn btn--default tooltip--top" href="<%- url_for(post.prev.path) %>"  data-tooltip="<%= post.prev.title || '(' + __('post.no_title') + ')' %>">
                <% } else { %>
                    <a class="post-action-btn btn btn--disabled">
                <% } %>
                    <i class="fa fa-angle-left"></i>
                    <span class="hide-xs hide-sm text-small icon-ml"><%= __('pagination.previous') %></span>
                </a>
            </li>
            <li class="post-action">
                <% if (post.next) { %>
                    <a class="post-action-btn btn btn--default tooltip--top" href="<%- url_for(post.next.path) %>" data-tooltip="<%= post.next.title || '(' + __('post.no_title') + ')' %>">
                <% } else { %>
                    <a class="post-action-btn btn btn--disabled">
                <% } %>
                    <span class="hide-xs hide-sm text-small icon-mr"><%= __('pagination.next') %></span>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>

